<div>
  <h2 id="page-heading" data-cy="CandidateHeading">
    <span jhiTranslate="simplifyJobsBoardApp.candidate.home.title">Candidates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="simplifyJobsBoardApp.candidate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-candidate"
        [routerLink]="['/candidate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="simplifyJobsBoardApp.candidate.home.createLabel"> Create a new Candidate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'simplifyJobsBoardApp.candidate.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="candidates?.length === 0">
    <span jhiTranslate="simplifyJobsBoardApp.candidate.home.notFound">No candidates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="candidates && candidates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="simplifyJobsBoardApp.candidate.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mobile">
            <span jhiTranslate="simplifyJobsBoardApp.candidate.mobile">Mobile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="degree">
            <span jhiTranslate="simplifyJobsBoardApp.candidate.degree">Degree</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="simplifyJobsBoardApp.candidate.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="city">
            <span jhiTranslate="simplifyJobsBoardApp.candidate.city">City</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currentSalary">
            <span jhiTranslate="simplifyJobsBoardApp.candidate.currentSalary">Current Salary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/candidate', candidate.id, 'view']">{{ candidate.id }}</a>
          </td>
          <td>{{ candidate.email }}</td>
          <td>{{ candidate.mobile }}</td>
          <td jhiTranslate="{{ 'simplifyJobsBoardApp.Degree.' + candidate.degree }}">{{ candidate.degree }}</td>
          <td>{{ candidate.description }}</td>
          <td jhiTranslate="{{ 'simplifyJobsBoardApp.City.' + candidate.city }}">{{ candidate.city }}</td>
          <td>{{ candidate.currentSalary }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/candidate', candidate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/candidate', candidate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(candidate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="candidates && candidates.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
