<div>
  <h2 id="page-heading" data-cy="ApplicationHeading">
    <span jhiTranslate="simplifyJobsBoardApp.application.home.title">Applications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="simplifyJobsBoardApp.application.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-application"
        [routerLink]="['/application/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="simplifyJobsBoardApp.application.home.createLabel"> Create a new Application </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'simplifyJobsBoardApp.application.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
    <span jhiTranslate="simplifyJobsBoardApp.application.home.notFound">No applications found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="applications && applications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="applicationTime">
            <span jhiTranslate="simplifyJobsBoardApp.application.applicationTime">Application Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="desiredSalary">
            <span jhiTranslate="simplifyJobsBoardApp.application.desiredSalary">Desired Salary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="yearsOfExpericeOnThisRole">
            <span jhiTranslate="simplifyJobsBoardApp.application.yearsOfExpericeOnThisRole">Years Of Experice On This Role</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="job.id">
            <span jhiTranslate="simplifyJobsBoardApp.application.job">Job</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="candidate.id">
            <span jhiTranslate="simplifyJobsBoardApp.application.candidate">Candidate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/application', application.id, 'view']">{{ application.id }}</a>
          </td>
          <td>{{ application.applicationTime | formatMediumDate }}</td>
          <td>{{ application.desiredSalary }}</td>
          <td>{{ application.yearsOfExpericeOnThisRole }}</td>
          <td>
            <div *ngIf="application.job">
              <a [routerLink]="['/job', application.job?.id, 'view']">{{ application.job?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="application.candidate">
              <a [routerLink]="['/candidate', application.candidate?.id, 'view']">{{ application.candidate?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/application', application.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/application', application.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(application)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="applications && applications.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
